.leftFloral {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.leftBottomFloral {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;
}
.rightFloral {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  z-index: -1;
}
.rightBottomFloral {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}



.welcome::before {
  background-image: url('/images/clip-path-hero.png');
}
.welcome::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
